.gallery {
    padding: 50px 0 100px;
    display: flex;
    flex-wrap: wrap;    
    &_item{
		position: relative;        
		width: 380px;
		height: 260px;
		margin: 10px 10px 10px;
        cursor: pointer;
        transition: transform .3s;
        &:hover {
            opacity: 1 }        
        &_1 {
            background: url('../../src/img/gallery/newborn.jpg') center (center / cover) no-repeat}
		&_2 {
			background: url('../../src/img/gallery/preg.jpg') center (center / cover) no-repeat}

		&_3 {
			background: url('../../src/img/gallery/child.jpg') center (center / cover) no-repeat}

		&_4 {
			background: url('../../src/img/gallery/baby.jpg') center (center / cover) no-repeat}

		&_5 {
			background: url('../../src/img/gallery/christ.jpg') center (center / cover) no-repeat}

		&_6 {
			background: url('../../src/img/gallery/album.jpg') center (center / cover) no-repeat}
        &__link {
            position: absolute;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #0000007c;
            &:hover {
                text-decoration: none;
                color: $white;
                text-align: center;
                font-size: 24px;
                opacity: 1; } 
            }
        }

    h2 {
        padding:50px 0 40px;
        text-align: center;
        font-size: 30px }                  
        


    }
