@import '../sass/base/variables';
@import '../sass/base/animations';
@import '../sass/base/media';
* {
    @import '../sass/base/animations';
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import '../sass/blocks/promo';
@import '../sass/blocks/header';
@import '../sass/blocks/buttons';
@import '../sass/blocks/advantages';
@import '../sass/blocks/titles';
@import '../sass/blocks/forms';
@import '../sass/blocks/consultation';
@import '../sass/blocks/carousel';
@import '../sass/blocks/catalog';
@import '../sass/blocks/feed';
@import '../sass/blocks/footer';
@import '../sass/blocks/modal';
@import '../sass/blocks/pageup';
